
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    background-size: 100%;
    background-color: rgb(82, 185, 95)/*lightgreen*/;
}

fieldset{
    border: 4px double;
    border-color: rgb(10, 107, 10);
    background-color: white;
}

.login{
    text-align: center;
    border: solid;
    width: 50%;
    margin: 0 auto; /*0 vertical e 50% nas horizontais*/
}

.logo_ifrs{
    display: block;
    text-align: center;
    background-color: rgb(7, 99, 7);
}
.linguasimg{
    text-decoration: none;
    width: 10px;
    height: 10px;
    text-align: right;
}
a{
    text-decoration: none;
    display: solid;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 3px;
    border: 1px;
    border-color: black;
}
a:hover{
    background-color: rgb(82, 185, 95);
    color: black;
}
.botao{
    cursor: pointer;
}

.container{
  display: grid;
  width: 100vw;
  min-height:100%;
  grid-template-areas: "header header"
                       "nav  main"
                       "footer  footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr 8fr;
}

header{
    grid-area: header;
    background-color: aqua;
    text-align: bottom;
}

header h1{
    padding: 10px;
}

main{
    grid-area: main;
    background-color: brown;
}

footer{
    grid-area: footer;
    background-color: yellow; 
    text-align: center;
}

footer h3{
    padding: 10px;
}


